body {
    font-family: 'Libre Baskerville', sans-serif;
    padding-top: 80px;
    color: #343a40;
}

nav .navbar-brand {
    font-size: 1.7em;
}

nav .btn {
    font-size: 1.1em;
}

.card { margin-top: 10px; }

.footer {
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}
