<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '784286001175-4pf77ahn49oo3onui5v8dalh58899vlm.apps.googleusercontent.com'
          });
        });
      }
    </script>
  </head>
  
  <body>  
 
    <button id="signinButton">Sign in with Google</button>
    <div id="result"></div>

    <script>
      $('#signinButton').click(function() {
        function signInCallback(authResult) {
          if (authResult['code']) {
            $('#signinButton').attr('style', 'display: none');
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                $('#result').html(`Login Successful!</br>${result}</br>Redirecting...`)
                  setTimeout(function() {
                    window.location.href = "/restaurants/";
                  }, 2000);
              },
              processData: false,
              data: authResult['code']
            });
          } else {
            console.log(`There was an error: ${authResult['error']}`);
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
        auth2.grantOfflineAccess().then(signInCallback);
      });
    </script>
  </body>
</html>