<html>
    <body>

        <div>
            <p><a href="{{ url_for('newRestaurant') }}">Create New Restaurant</a></p><br>

            <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li><strong> {{message}} </strong></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>

            {% for i in restaurants %}
            <div>
                <span class="name"><p>{{i.name}}</p></span>
                <a href="">View Menu</a>
            </div>
                
            <div class="editdeletepane">
                <a href="{{ url_for('editRestaurant', restaurant_id = i.id) }}">Edit</a>
                <a href="">Delete</a>
            </div>
            {% endfor %}
        </div>

    </body>
</html>